.logo-box{
  display: flexbox;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.logo-img{
  width: 30%;
  max-width: 200px;
}

.texto-box{
  display: flexbox;
  text-align: center;
  align-items: center;
  margin-bottom: 1em;
}

p {
  font-size: 1rem;
  max-width: 510px;
  margin: 0 auto;
}

.hora-box{
  display: flexbox;
  padding-top: 50px;
  display: inline;
  text-align: center;
}

.hora-subbox{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.hora-numero{
  font-size: 3rem;
  padding: 0.5%;
  margin-bottom: 1em;
}

.boton-box{
  display: flexbox;
  text-align: center;
  margin-bottom: 1rem;
}

.boton{
  height: 40px;
  width: 15%;
  max-width: 200px;
  min-width: 150px;
  background-color: black;
  color:white;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.boton:hover{
  background-color: #024909;
}

.boton:active{
  background-color: #474c50;
}

.boton:disabled{
  background-color: #5c5c5c;
}

h3{
  font-size: 1.1rem;
  text-align: center;
}

.lista-box {
  display: flex;
  justify-content: center;
}


.lista-fibonacci {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-right: 1%;
  text-align: center;;
  color: #e5e5e5;
}

.lista-fibonacci li {
  overflow: hidden;
  border-right: 1px solid #e5e5e5;
  animation: escribir 0.2s steps(60, end) forwards;
}

@keyframes escribir {
  from {
    width: 0;
    color:black;
    border-right: 1px solid black;
  }
  to {
    width: 100%;
    color: black;
    border-right: 0px solid #e5e5e5;
  }
}

.grafico-box{
  display:flex;
  width:80%;
  height: 500px;
  justify-content: center;
  text-align: center; 
  margin-left: 10%;
}

.cambio-hora {
  margin-left:-50px;
  animation: flip 0.5s forwards;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% { transform: rotateX(0); }
  50% { transform: rotateX(90deg); }
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}